body{
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
h1{
    margin-top: 50px !important;
    margin-bottom: 15px !important;
    background-color: rgb(3, 3, 104);
    color: white !important;
    border-radius: 5px !important;
}
thead{
    background-color: black !important;
}